/* style text */
.wp-block-quote{
    color:blue;
}
.wp-block-quote.is-style-fancy-quote{
   color:rgb(255, 157, 11); 
}


/* style media widths */
.entry-content > *:not(.woocommerce) {
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}

.entry-content > *.alignwide,
.alignwide{
    max-width:1200px;
}
.entry-content > *.alignfull,
.alignfull{
    max-width:100%;
}


/* style design */
.wp-block-image.is-resized img{
    border-radius: 5rem;
    border: 5px solid orange;
   
}




/* style widgets */
.wp-block-calendar table caption, .wp-block-calendar table tbody {
    color: #FFA500;
}
.wp-block-calendar table th {
    
    background: #FFA500;
    color: #FFF;
}

/* style theme */
time{
    color:grey;
    text-align: right;
    margin-left:80%;
}

